@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello Blazor School!</h1>

<a href="javascript-can-be-used">When JavaScript can be used</a>
<a href="javascript-should-not-be-used">When JavaScript should not be used</a>